body {
  font-size: .875rem;
  overflow-y: auto;
}
body, html
{
  height: 100%;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.list-group-item
{
  border: none !important;
}

.no-scroll
{
  overflow: hidden;
}

#advancedSearch input
{
  text-align: center;
}

.nav-item
{
  font-size: 15px;
}

#advancedSearch .card
{
  z-index: 100;
}

#sidebarMenu > div > ul > li
{
  font-size: large;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 5; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  overflow-y: auto;
}

@media (max-width: 1200px)
{
  #bigCard 
  {
    max-width: 50%;
  }
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 3rem;
    width: 100%;
  }
  #sidebarMenu ul li
  {
    margin-bottom: 2%;
    margin-top: 2%;
  }

  #bigCard 
  {
    max-width: 60%;
  }
}

@media (max-width: 575px)
{
  #bigCard 
  {
    max-width: 70%;
    margin-left: 10vh;
  }
}

@media (max-width: 1000px)
{
  body
  {
    overflow-y: auto;
  }

  #myCards
  {
    margin-right: -0.2% !important;
  }
}

@media (max-width: 400px)
{
  #dropdownBtn
  {
    width: 3em;
  }
  #brand
  {
    margin-right: 5em;
  }

  #bigCard 
  {
    max-width: 70%;
  }
}

@media (max-width: 470px)
{
  #bigCard 
  {
    max-width: 100%;
    margin-left: 2vw;
  }
}

@media (min-width: 1200px)
{
  #myCards .card
  {
    width: 18vw;
  }
  header a 
  {
    padding-right: 14.7em;
  }

  #advancedSearch .card
  {
    margin-left: 15em;
  }

  #bigCard 
  {
    max-width: 35%;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.navbar-toggler {
  background: none;
  border: none;
}

.navbar-toggler:active,
.navbar-toggler:focus {
  outline: 0;
}

.navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  margin: 4px 0 4px 0;
  transition: all 0.2s;
}

.navbar-dark .navbar-toggler .icon-bar {
  background: #ffffff;
}

.navbar-toggler .icon-bar:nth-of-type(1) {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .icon-bar:nth-of-type(2) {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .icon-bar:nth-of-type(3) {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .icon-bar:nth-of-type(1) {
  transform: rotate(0);
}

.navbar-toggler.collapsed .icon-bar:nth-of-type(2) {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .icon-bar:nth-of-type(3) {
  transform: rotate(0);
}

footer
{
    overflow: hidden;
    margin-top: 10vw;
    background: #262626;
    color: #627482 !important;
    z-index: 6;
    position: sticky;
}

.list-group-item-dark
{
  background: #262626 !important;
  color: white;
}
