html, body, #wrapper
{
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

html
{
  padding: 0;
  margin: 0;
}

body {
  padding-right: 0px !important
}

.modal-open {
  overflow-y: auto !important;
}