.navbar-toggler {
    background: none;
    border: none;
  }
  
.navbar-toggler:active,
.navbar-toggler:focus {
    outline: 0;
}

.navbar-toggler .navbar-toggler-icon {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    margin: 4px 0 4px 0;
    transition: all 0.2s;
}

.navbar-toggler .navbar-toggler-icon:nth-of-type(1) {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .navbar-toggler-icon:nth-of-type(2) {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .navbar-toggler-icon:nth-of-type(3) {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .navbar-toggler-icon:nth-of-type(1) {
    transform: rotate(0);
}

.navbar-toggler.collapsed .navbar-toggler-icon:nth-of-type(2) {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .navbar-toggler-icon:nth-of-type(3) {
    transform: rotate(0);
}

header
{
  padding-right: 14.7em;
}